<!DOCTYPE html>
<html
        lang="en"
        th:fragment="layout(title, main)"
        xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/main.css">
  <title th:replace="${title}">Layout title</title>
</head>

<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div style="background-color: lightslategrey; display: flex; justify-content: center; align-items: center; height:100px;">
  <h1>THIS IS A PLACEHOLDER - REPLACE WITH NAVBAR</h1></div>

  <div class="content">

<main id="main-part" th:replace="${main}">
  <p><em>This content must not be visible.</em></p>
</main>

<footer th:fragment="footer">
  &copy; 2026 Footer
</footer>
  </div>
</div>
</body>
</html>