<!DOCTYPE html>
<html
        lang="en"
        th:fragment="layout(title, main)"
        xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title th:replace="${title}">Layout title</title>
</head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<header th:replace="fragments/header :: header"></header>

<div class="content">
    <main id="main-part" th:replace="${main}">
        <p><em>This content must not be visible.</em></p>
    </main>
</div>

</body>
</html>