<header th:fragment="header" class="header">

  <div class="header-searchbar-container">
    <form th:action="@{/search}" method="get" style="display: flex">
      <input id="posts-searchbar" type="text" name="keyword" placeholder="search posts..." />
    </form>
  </div>


  <div class="logoutdiv" th:if="${#authorization.expression('isAuthenticated()')}">
    <!--<p>Logged in as <span th:text=""</p>-->
    <p th:if="${#authorization.expression('isAuthenticated()')}">
      Logged in as: <span th:text="${#authentication.principal.email}"></span>
    </p>
    <a href="/logout"><button class="loginbutton"><span>Log Out</span></button></a>
  </div>

  <div class="logindiv" th:unless="${#authorization.expression('isAuthenticated()')}">
    <a href="/authorize">
      <button class="loginbutton">
          <span>Log In</span>
      </button>
    </a>
  </div>

</header>