<nav th:fragment="navbar" class="navbar">
  <img th:src="@{/images/logoipsum-415.svg}" alt="sapphire-logo">
  <div class="navbar-user"
       th:if="${#authorization.expression('isAuthenticated()')}">
    <span th:if="${user.firstName != null}"
          th:text="${user.firstName + (user.lastName != null ? ' ' + user.lastName : '')}">
</span>
  </div>
  <a th:href="@{/}">Home</a>
   <a th:if="${user != null}"
   th:href="${user.username != null and !#strings.isEmpty(user.username)} 
       ? @{/profile/{username}(username=${user.username})} 
       : @{/users/setup}">Profile</a>
 

  <a th:href="@{/friends}">Friends</a>
  <a th:href="@{/}">Events</a>
  <a th:href="@{/}">Games</a>


    <!--<a style="margin-top: auto;" th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}">Logout</a>-->
</nav>
