<nav th:fragment="navbar" class="navbar">
  <img th:src="@{/images/logoipsum-415.svg}" alt="sapphire-logo">
  <div class="navbar-user" th:if="${loggedInUser != null}">
    <span th:if="${loggedInUser.firstName != null}"
          th:text="${loggedInUser.firstName + (loggedInUser.lastName != null ? ' ' + loggedInUser.lastName : '')}">
    </span>
  </div>
  <p th:text="${loggedInUser != null ? loggedInUser.username : 'NO LOGGED IN USER'}"></p>
  <a th:if="${loggedInUser != null and loggedInUser.username != null}"
     th:href="@{/profile/{username}(username=${loggedInUser.username})}">Profile</a>
  <a th:href="@{/}">Home</a>
  <a th:href="@{/friends}">Friends</a>
  <a th:href="@{/}">Events</a>
  <a th:href="@{/}">Games</a>


  <a th:if="${loggedInUser != null}" style="margin-top: auto;" th:href="@{/logout}">Logout</a>
</nav>
