<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>

<div class="post-container" th:fragment="post">

    <div id="user-info" class="post-user-info-container">
        <!-- REPLACE WITH URL FROM DB -->
        <img
                class="image-thumbnail"
                alt="profile-thumbnail"
                src="https://static.vecteezy.com/system/resources/thumbnails/036/594/092/small/man-empty-avatar-photo-placeholder-for-social-networks-resumes-forums-and-dating-sites-male-and-female-no-photo-images-for-unfilled-user-profile-free-vector.jpg">

        <!-- REPLACE WITH USERS NAME -->
        <a th:href="@{/profile/{username}(username=${post.user.username})}"><h4 th:text="${post.user.username}"></h4></a>
    </div>

    <div class="post-content-container">
        <p th:text="${post.content}"/>
        <div class="post-footer">
            <small th:text="${#temporals.format(post.createdAt, 'dd MMM yyyy HH:mm')}"></small>
            <div class="post-likes-container">
                <img th:src="@{/images/heart.png}" alt="like" width="16" height="16">
                <small th:text="${likeCounts[post.id]} + ' likes'"></small>
            </div>
        </div>
    </div>

    <form th:action="@{/comments/new}" method="post">
        <input type="hidden" name="postId" th:value="${post.id}" />
        <p>
            Comment:
            <input type="text" name="body" />
            <input type="reset" value="Reset"/>
            <input type="submit" value="Submit"/>
        </p>
    </form>
    
    <ul th:each="comment: ${post.getComments()}">
        <!-- Replace comment.userId with however we're mapping from userId to username -->
        <li th:text="${comment.getUser().getUsername() + ': ' + comment.body}" />
        <small th:text="${#temporals.format(comment.commentedOn, 'dd MMM yyyy HH:mm')}"/>
    </ul>

</div>

</body>
</html>