<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>

<div class="post-container" th:fragment="post_with_comments">

    <div id="user-info" class="post-user-info-container">
        <!-- REPLACE WITH URL FROM DB -->
        <img
                class="image-thumbnail"
                alt="profile-thumbnail"
                src="https://static.vecteezy.com/system/resources/thumbnails/036/594/092/small/man-empty-avatar-photo-placeholder-for-social-networks-resumes-forums-and-dating-sites-male-and-female-no-photo-images-for-unfilled-user-profile-free-vector.jpg">

        <!-- REPLACE WITH USERS NAME -->
        <h4 th:text="${post_with_comments.key.userId}"></h4>
    </div>

    <div class="post-content-container">
        <p th:text="${post_with_comments.key.content}"/>
        <small th:text="${#temporals.format(post_with_comments.key.createdAt, 'dd MMM yyyy HH:mm')}"></small>
    </div>

    <form action="#" th:action="@{/comments/new}" th:object="${new_comment}" method="post">
        <input type="hidden" th:value="${post_with_comments.key.id}" th:attr="name='postId'" />
        <p>Comment: <input type="text" th:attr="name='body'"/> <input type="reset" value="Reset"/> <input type="submit" value="Submit"/></p>
    </form>

    <ul th:each="comment: ${post_with_comments.value}">
        <li th:text="${comment.body}" />
        <small th:text="${#temporals.format(comment.commentedOn, 'dd MMM yyyy HH:mm')}"/>
    </ul>

</div>

</body>
</html>