<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main_layout :: layout(~{::title}, ~{::main})}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="/main.css"/>
</head>

<body>
    <main>
        <div class="create-profile-container">
        <h1>Create a profile</h1>
        
        <form class="form-container" th:action="@{/users/setup}" method="post">
            <div class="create-profile-form-div">
                <label for="firstName">First Name:</label>
                <input class="create-profile-input" type="text" id="firstName" name="firstName" required>
            </div>
            <div class="create-profile-form-div">
                <label for="lastName">Last Name:</label>
                <input class="create-profile-input" type="text" id="lastName" name="lastName" required>
            </div>
            <div class="create-profile-form-div">
                <label for="username">Username:</label>
                <input class="create-profile-input" type="text" id="username" name="username" required>
            </div>
            <div class="create-profile-button-div">
                <button class="create-profile-button" type="submit">Continue</button>
            </div>
        </form>
    </div>
    </main>
</body>
</html>